body {
	background-color: #F8F8FF;
}

#header {
	color:black;
	font-size: 60px;
	font-family: times, Times New Roman, times-roman, georgia, serif
}

#messageArea {
	color: #FF4500;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 16px;
}
#scoreArea {
	color: black;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 17px;
}
#newGameButton {
	color: black;
	font-size: 14px;
	font-family:  times, Times New Roman, times-roman, georgia, serif;
}
#game_above {
	padding-bottom: 10px;
}

td {
	width: 90px;
	height: 90px;
	border: solid 1px;
}
td.black {
	width: 90px;
	height: 90px;
	border: solid 1px;
	background: url("black.jpg") no-repeat center center;
	background-size: 100% 100%;
}
td.white {
	width: 90px;
	height: 90px;
	border: solid 1px;
	background: url("white.jpg") no-repeat center center;
	background-size: 100% 100%;
}
strong.important {
  text-transform: uppercase; 
  font-family: times, Times New Roman, times-roman, georgia, serif;	
}

.game-explanation {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 18px;
}

.blackKnight {
	background: url("blackKnight.jpg") no-repeat center center;
	background-size: 100% 100%;
}
.whiteKnight {
	background: url("whiteKnight.jpg") no-repeat center center;
	background-size: 100% 100%;
}
